{% load staticfiles %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies ShowTimes</title>
    <meta charset="UTF-8"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>




</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Movie ShowTimes</a>
      <a href="https://github.com/Olunusib" target="_blank">Olunusib</a>
  </div>
</nav>
<br><br><br><br>
<div class='container'>
    <h2 style="text-align: center;">Hi, welcome to Movie ShowTimes!</h2><br>
    <form action="{% url 'results' %}" method="POST">
        {% csrf_token %}
        <label for="choiceGenre">Genre</label>
        <select class="selectpicker" multiple data-live-search="true" name="choiceGenre" id="choiceGenre">
            <option value="Action">Action</option>
            <option value="Drama">Drama</option>
            <option value="Adventure">Adventure</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Comedy">Comedy</option>
        </select><br><br>
        <label for="choiceActors">Actor(s)</label>
        <input type="text" name="choiceActors" id="choiceActors" placeholder="Separate by commas if more than one">
        <label for="choiceDirectors">Director(s)</label>
        <input type="text" name="choiceDirectors" id="choiceDirectors" placeholder="Separate by commas if more than one">
        <label for="choiceMovieName">Movie Name</label>
        <input type="text" name="choiceMovieName" id="choiceMovieName" placeholder="Try with the Movie Name?">
        <label for="choiceRating">Rating (0-10)</label>
        <input type="range" class="custom-range" min="0" max="10" step="1" id="choiceRating" name="choiceRating">


        <button class="btn btn-primary" type="submit" name="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
    <form action="{% url 'all' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="show_all">Show All
            <i class="material-icons right">send</i>
        </button>

    </form>

    {% block content %}
    {% endblock content %}

</div>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

</body>
</html>